/* Blocks ----------------- */

/*  Block page
    Goals:
      - Make it easier to see which block region
        goes where */
.block-region {
  font-weight: bold;
  font-size: 2em;
  background-color: #efef1c;    /** TODO: Colours should be more */
  border: 1px dashed #d3d31b;   /*  pleasing. These are ug-lay. **/
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -khtml-border-radius: 3px;
  line-height: 1.2em;
}


/* Forms ----------------- */

/*  Goals:
      - Minimize page clutter
      - Easier distinction of elements */
/* NOTE: Following only works with node form cols. Support without to come. */
form#node-form div.node-form > div > div,
form#node-form div.node-form > div > fieldset {
  margin: 1em 0 !important;
  border: #DDD solid 2px;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -khtml-border-radius: 3px;
  background-color: #efefef;
  padding: 10px;
}
form#node-form div.node-form > div > input {
  margin: 1em 0 !important;
}
form#node-form div.node-form > div > fieldset.collapsed {
  padding: 0 0 0 10px;
}
form#node-form div.node-form > div > fieldset legend {
  margin-left: -10px;
}

form#node-form div.node-form > div > fieldset legend,
form#node-form div.node-form > div > div label {
  font-weight: bold;
  font-size: 1.2em;
  line-height: 1.4em;
}

.description {
  color: #888;
  font-size: 0.85em;
}

#edit-title-wrapper input {
  font-weight: bold;
  font-size: 2em;
}


/* Node/Add ----------------- */

/*  Goals:
      - Increase readability
      - Make it easier to find content types
      - Let the user know what he is clicking on */
body.page-node-add dt {
  font-size: 1.2em;
  font-weight: bold;
  line-height: 1.5em;
  margin: 0 20px;
  padding: 0;
}
body.page-node-add dt a {
  text-decoration: none;
  border-left: 18px solid;
  padding: 0 0 0 15px;
}
body.page-node-add dt a:hover {
  text-decoration: underline;
  border-left: 18px double;
}
body.page-node-add dd {
  color: #AAAAAA;
  font-size: 1.1em;
  margin: 0 53px 1.5em;
  padding: 0;
}


/* Messages ----------------- */

/*  Goals:
      - Increase visibility
      - Make them easier on the eyes */
div.messages,
div.warning {
  margin: 0 0 20px 0;
  font-size: 1.2em;
  font-weight: bold;
  line-height: 1.5em;
  padding: 20px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -khtml-border-radius: 5px;
}
div.warning,
div.status {
  color: #E09010;
  border: 2px solid #E09010;
}